{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  
  	<div id="optionsPanel" class="optionsPanel">
  		<div class="explanations">
  		
			<h3>What is this tool for ?</h3>
			
			<p>This tool is an algebraic calculator.</p>
			<p>It is dedicated to undergraduate students having difficulties with algrebraic expression and the respect of operator's precedence for instance.</p>
			<p>The tool shows the steps of a complicated algebraic expression.</p>
			<p>The tool supports braces around expressions.</p>
			<p>It manages also implicit precedence between the plus, minus, multiplication, division and power.</p>

			<h3>How to use this tool ?</h3>
			
			<p>Enter the name of a variable , for instance "x" </p>
			<p>followed by the EQUAL sign "=" </p>
			<p>then enter an algebraic expression and finish with the semi-colon ";"</p>
			<p>for instance type the following expression finished by a semi-colon ";"</p>
			<p>y = 3.1 * ( 2.1 + 5.1); </p>
			<p>you should get y = 22.32 as a result.</p>
			<p>the underlying grammar supports three trigonometric functions: cos, sin and tan.</p>
			<p>For the trigonometric functions: the input is in radians.</p>
			<p>the underlying grammar supports also the Pi constant - written Pi or pi.</p>
			<p></p>
			<p>The code of this application is available from here: <a href="https://github.com/RobertPastor/calculator" target="_blank">Calculator</a></p>
			
			
		</div>
		
  	</div>
  	<div id="editorContainer" class="editorContainer">
  		<div id="editor" class="editor" >
  		
		</div>
  	</div>
  	<div id="results-container" class="results-container">
  		<h3 class="resultsHeader">Results</h3>
  		<div class="results">
  			<table id="variables" border="1">
  				<thead>
  					<th>variable</th>
  					<th>operator</th>
  					<th>value</th>
  				</thead>
  				<tbody>
  				
  				</tbody>
  			</table>
  		</div>
  		<div></div>
  		<div class="histories">
  			<table id="histories" border="1">
  				<thead>
  					<th>history</th>
  				</thead>
  				<tbody>
  				
  				</tbody>

  			</table>		
		</div>
  	</div>
	
</div>
{% endblock %}
