{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  
  	<div id="optionsPanel" class="optionsPanel">
  		<div class="explanations">
  		
  		
			<h3>What is this tool?</h3>
			
			<p>This tool is an algebraic calculation</p>
			

			<h3>How to use this tool ?</h3>
			
			<p>Enter the name of a variable , for instance "x" </p>
			<p>followed by the EQUAL sign "=" </p>
			<p>then enter an algebraic expression and finish with the semi-colon ";"</p>
			<p>for instance type the following expression finished by a semi-colon ";"</p>
			<p>y = 3.1 * ( 2.1 + 5.1); </p>
			<p>you should get y = 22.32 as a result</p>
			
		
		</div>
		<div class="explanations">
			
		</div>
  	</div>
  	<div id="editorContainer" class="editorContainer">
  		<div id="editor" class="editor" >
  		
		</div>
  	</div>
	
</div>
{% endblock %}
