html, body {
  height:100%;
}

.optionsPanel {
	top: 0px;
	border: 1px;
	border-style: solid;
	position: absolute;
    width: 270px;
    height: 100%;
    overflow-y: auto;
}

.d3Container {
	top: 20px;
	left: 800px;
	position: absolute;
    width: 100%;
    height: 100%;
    direction: ltr;
	
}

.d3body {
	width: 100%;
    height: 100%;
    direction: rtl;
    overflow: scroll;
    overflow-x: hidden!important;
}

#editor {
	border: 1px;
	border-style: solid;
	position: absolute;
    width: 500px;
    height: 200px;
    
}
.explanations {
	font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
	border: 1px;
	width: 270px;
    height: 50%;;
}

.editorContainer {
	position: absolute;
	top: 15px;
	left: 280px;
	width: 250px;
	height: 700px;
	background: white;
}

.colorRed {
	color: red;
}
.colorBlue {
	color: blue;
}

.results-container {
	
	position: absolute;
	top: 230px;
	left: 280px;
	width: 250px;
	height: 700px;
	background: white;
}

.resultsHeader {
	font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.results {
	font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
	border: 1px;
	position: absolute;
	top: 30px;
	left: 10px;
	width: 100%;
	height: 100%;
}

.histories {
	font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
	border: 1px;
	position: absolute;
	top: 30px;
	left: 250px;
	width: 100%;
	height: 100%;
}

.numRows {
	visibility: hidden;
}

.d3table {
	font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
}